.care
{
    color: #333;
    font-size: 1.3vw;
    font-weight: 500;
line-height: 22px; /* 180.328% */
letter-spacing: 5px;
text-align: center;
margin-top: 8%;
}
.team
{
    text-align: center;
    margin-top: 1%;
    font-size: 2.3vw;
    font-weight: 700;
    color: #F58420;
}
.onn
{
    color: #1858A8;
    font-size: 1.3vw;
    font-weight: 700;
    margin-top: 20%;
}
.online
{
    display: flex;
    gap: 20px;
}
.phonesec{
    display: flex;
    gap: 20px;
}
.desksec
{
    display: flex;
    gap: 20px;
}
.sections
{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 2%;
}
.world
{
    width: 20%;
}
